.predict-item{
    -fx-min-width: 120px;
    -fx-min-height: 60px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #CCCCCC;
    -fx-border-style: dotted;
}

.predict-item.select{
    -fx-border-color: #0c0;
    -fx-border-style: solid;
}

.edit-price {
    -fx-padding: 2px;
    -fx-alignment: center;
    -fx-font-size: 14px;
    /*-fx-padding: 2px 2xp 0 2xp;*/
}

.edit-price TextField{
    -fx-min-width: 90px;
    -fx-max-width: 90px;
    -fx-background-color: transparent;

    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #CCCCCC;
    /*-fx-border-insets: px;*/
    -fx-padding: 0px;
    -fx-text-fill: orange;
    -fx-alignment: center;
}


.total-price{
    -fx-padding: 2xp;
    -fx-alignment: center-right;
}

.flag {
    -fx-image: url("r_flag.png");
}
.select .flag{
    -fx-image: url("r_flag_s.png");
}