<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
    <typeAliases>
        <!--<typeAlias alias="User" type="cn.keepfight.qsmanager.model.UserModel"/>-->
        <package name="cn.keepfight.qsmanager.model"/>
        <package name="cn.keepfight.qsmanager.dao"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/CustomMapper.xml"/>
        <mapper resource="mapper/ProductMapper.xml"/>
        <mapper resource="mapper/SupplyMapper.xml"/>
        <mapper resource="mapper/MaterialMapper.xml"/>
        <mapper resource="mapper/ReceiptMapper.xml"/>
        <mapper resource="mapper/ReceiptDetailMapper.xml"/>
        <mapper resource="mapper/SupAnnuMapper.xml"/>
        <mapper resource="mapper/CustAnnuMapper.xml"/>
        <mapper resource="mapper/OrderFavorMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/TestOrderMapper.xml"/>
        <mapper resource="mapper/OrderItemMapper.xml"/>
        <mapper resource="mapper/DeliveryItemMapper.xml"/>
        <mapper resource="mapper/DeliveryMapper.xml"/>

        <!-- 革新之后的 -->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/OperatorMapper.xml"/>
        <mapper resource="mapper/TraderMapper.xml"/>
        <mapper resource="mapper/StuffMapper.xml"/>
        <mapper resource="mapper/SupplierMapper.xml"/>

        <!--工资表-->
        <mapper resource="mapper/SalaryMapper.xml"/>
        <!--发票表-->
        <mapper resource="mapper/SupInvoiceMapper.xml"/>
        <mapper resource="mapper/CustInvoiceMapper.xml"/>
        <!--汇款表-->
        <mapper resource="mapper/SupRemitMapper.xml"/>
        <mapper resource="mapper/CustRemitMapper.xml"/>
        <!--发票抵扣表-->
        <mapper resource="mapper/TaxMapper.xml"/>
        <!--预算表-->
        <mapper resource="mapper/PredictMapper.xml"/>
        <!--分析表-->
        <mapper resource="mapper/AnalysisMapper.xml"/>
    </mappers>
</configuration>