
.pay-sel-box{
    -fx-pref-width: 100px;
    -fx-alignment: center-left;
    -fx-padding: 5px;
}

.pay-flag{
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
}

.pay-status{
    -fx-alignment: center;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.pay-box-btn-list{
    visibility: hidden;
}

.pay-flag:hover .pay-box-btn-list{
    visibility: visible;
}

.pay-flag-day{
    -fx-padding: 5px;
}

/* pay-take 部分 */
.pay-box-line{
    -fx-pref-height: 30px;
    -fx-alignment: center;
}
.pay-box-custome{
    -fx-pref-width: 70px;
}

.pay-box-detail{
    -fx-pref-width: 250px;
}

.pay-box-predict{
    -fx-pref-width: 100px;
}

.pay-box-sum{
    -fx-pref-width: 100px;
}

.pay-item-detail{
    -fx-underline: true;
}

.pay-item-spot{
    -fx-background-radius: 5px;
    -fx-background-color: #41a9c9;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding: 0 10px;
}

.pay-item-spot.primary{
    -fx-background-color: green;
}
.pay-item-spot.warning{
    -fx-background-color: orange;
}
.pay-item-spot.fail{
    -fx-background-color: #c00;
}
