<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.keepfight.qsmanager.Mapper.CustInvoiceMapper">
    <select id="selectInvoiceByMonthAndSup" resultType="InvoiceDao">
        SELECT
            id,
            cust_id AS sup_id,
            year,
            month,
            unit,
            date,
            total,
            rate
        FROM invoice_cust
        WHERE cust_id = #{cust_id} AND year = #{year} AND month = #{month}
    </select>

    <insert id="insertInvoice" parameterType="InvoiceDao">
        INSERT INTO invoice_cust (
        cust_id, year, month, unit, date, total, rate
        ) VALUES(
        #{sup_id},
        #{year},
        #{month},
        #{unit},
        #{date},
        #{total},
        #{rate}
        )
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT last_insert_id();
        </selectKey>
    </insert>

    <insert id="insertInvoiceList" parameterType="java.util.List">
        INSERT INTO invoice_cust (
        cust_id, year, month, unit, date, total, rate
        ) VALUES
        <foreach collection="list" item="dao" index="index" separator=",">
            (
            #{dao.sup_id},
            #{dao.year},
            #{dao.month},
            #{dao.unit},
            #{dao.date},
            #{dao.total},
            #{dao.rate}
            )
        </foreach>
    </insert>

    <delete id="deleteInvoiceByID" parameterType="long">
        DELETE FROM invoice_cust
        WHERE id = #{id}
    </delete>
</mapper>