<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.keepfight.qsmanager.Mapper.DeliveryItemMapper">

    <!--根据送货单 ID 查询明细-->
    <!--List<DeliveryItemModel> selectByDid(Long did) throws Exception;-->
    <select id="selectByDid" parameterType="long" resultType="DeliveryItemModel">
        SELECT *
        FROM delivery_item
        WHERE did = #{did}
    </select>

    <!--插入一条新的送货明细-->
    <!--void insert(DeliveryItemModel model);-->
    <insert id="insert" parameterType="DeliveryItemModel">
        INSERT INTO
        delivery_item (did, serial, name, detail,unit, note
        <if test="price!=null">
            ,price
        </if>
        <if test="pack!=null">
            ,pack
        </if>
        <if test="num!=null">
            ,num
        </if>
        )
        VALUES (#{did}, #{serial}, #{name}, #{detail}, #{unit}, #{note}
        <if test="price!=null">
            ,#{price}
        </if>
        <if test="pack!=null">
            ,#{pack}
        </if>
        <if test="num!=null">
            ,#{num}
        </if>
        )
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT last_insert_id();
        </selectKey>
    </insert>

    <!--根据送货单 ID 删除送货明细记录-->
    <!--void deleteByDid(Long did) throws Exception;-->
    <delete id="deleteByDid" parameterType="long">
        DELETE FROM delivery_item
        WHERE did = #{did}
    </delete>
</mapper>