<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.keepfight.qsmanager.Mapper.OrderMapper">

    <!--选择指定条件的全部订单，其中客户、年份、月份、选择状态可以为空，表示忽视该条件-->
    <!--List<OrderModelFull> selectAll(OrderSelection selection) throws Exception;-->
    <select id="selectAll" parameterType="OrderSelection" resultType="OrderModelFull">
        SELECT o.id AS id, cid, o.serial AS serial, strftime('%s',orderdate, 'utc')||'000' AS orderdate, o.note AS note,
        c.serial || '-' || c.name AS cust
        FROM orders o, custom c
        WHERE o.cid=c.id
        <if test="cid!=null">
            AND o.cid== #{cid}
        </if>
        <if test="year!=null">
            AND strftime('%Y', orderdate) = #{year}
        </if>
        <if test="month!=null">
            AND strftime('%m', orderdate) = #{month}
        </if>
        <!--<if test="s!=null">-->
        <!--AND strftime('%m', orderdate) = #{month}-->
        <!--</if>-->
        ORDER BY orderdate
    </select>

    <!--新增订单，订单号为，YY-MM-DD-NUM 当天的全部订单序号-->
    <!--void insert(OrderModel order) throws Exception;-->
    <insert id="insert" parameterType="OrderModel">
        INSERT INTO
        orders (serial, cid, orderdate, note)
        VALUES (#{serial}, #{cid}, DATEtime(#{orderdate}/1000, 'unixepoch', 'localtime'), #{note})
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT last_insert_rowid();
        </selectKey>
    </insert>

    <!--删除指定 ID 的订单记录。-->
    <!--void delete(OrderModel model) throws Exception;-->
    <delete id="delete" parameterType="OrderModel">
        DELETE FROM orders
        WHERE id = #{id}
    </delete>


    <!--获取订单全部可用的年份-->
    <!--List<Long> selectYear() throws Exception;-->
    <select id="selectYear" resultType="long">
        SELECT DISTINCT strftime('%Y', orderdate) AS year
        FROM orders
        ORDER BY year
    </select>

    <!--修改一条订单记录-->
    <!--void update(OrderModel model) throws Exception;-->
    <update id="update" parameterType="OrderModel">
        UPDATE orders
        SET
            serial    = #{serial},
            cid       = #{cid},
            orderdate = #{orderdate},
            note      = #{note}
        WHERE id == #{id}
    </update>
</mapper>