<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keepfight.qsmanager.Mapper.PredictMapper">
    <select id="selectOutcomePredictLeft" resultType="PredictTradeDao">
        SELECT
            t.sid                         AS uid,
            concat(s.serial, '-', s.name) AS name,
            t.year                        AS year,
            t.month                       AS month,
            if(((t.count - ifnull(r.sum, 0)) <![CDATA[ < ]]> t.sum),
               t.count - ifnull(r.sum, 0),
               t.sum)                     AS leftsum
        FROM (
                 SELECT
                     t.sid,
                     t.year,
                     t.month,
                     t.sum,
                     (SELECT SUM(x.sum)
                      FROM view_sup_month_trade x
                      WHERE concat(x.year, x.month) <![CDATA[ <= ]]> concat(t.year, t.month) AND t.sid = x.sid) AS count
                 FROM view_sup_month_trade t
             ) AS t LEFT JOIN (
                                  SELECT
                                      sup_id     AS sid,
                                      sum(total) AS sum
                                  FROM remit_sup
                                  GROUP BY sup_id
                              ) AS r
                ON t.sid = r.sid
            , supply s
        WHERE ifnull(r.sum, 0) <![CDATA[ < ]]> t.count
              AND s.id = t.sid
        ORDER BY uid, year, month
    </select>


    <select id="selectIncomePredictLeft" resultType="PredictTradeDao">
        SELECT
            t.cid                               AS uid,
            concat(cust.serial, '-', cust.name) AS name,
            t.year                              AS year,
            t.month                             AS month,
            if(((t.count - ifnull(r.sum, 0))<![CDATA[ < ]]> t.sum),
               t.count - ifnull(r.sum, 0),
               t.sum)                           AS leftsum
        FROM (
                 SELECT
                     t.cid,
                     t.year,
                     t.month,
                     t.sum,
                     (SELECT SUM(x.sum)
                      FROM view_cust_month_trade x
                      WHERE concat(x.year, x.month)<![CDATA[ <= ]]> concat(t.year, t.month) AND t.cid = x.cid) AS count
                 FROM view_cust_month_trade t
             ) AS t LEFT JOIN (
                                  SELECT
                                      cust_id    AS cid,
                                      sum(total) AS sum
                                  FROM remit_cust
                                  GROUP BY cust_id
                              ) AS r
                ON t.cid = r.cid
            , custom cust
        WHERE ifnull(r.sum, 0)<![CDATA[ < ]]> t.count
              AND cust.id = t.cid
        ORDER BY uid, year, month
    </select>
</mapper>