<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.keepfight.qsmanager.Mapper.ReceiptMapper">

    <!--List<ReceiptModel> selectAll(Long sid, Long year, Long month) throws Exception;-->
    <select id="selectAll" parameterType="ReceiptSelection" resultType="ReceiptModelFull">
        SELECT r.id AS id, r.sid AS sid, r.serial AS serial, date_format(r.rdate, '%s')||'000' AS rdate,
        s.serial || '-' || s.name AS supply
        FROM receipt r, supply s
        WHERE r.sid = #{sid}
        AND r.sid=s.id
        AND date_format(r.rdate, '%Y') = #{year}
        <if test="month!=null">
            AND date_format(r.rdate, '%m') = #{month}
        </if>
        ORDER BY rdate
    </select>

    <!--查询指定供应商和年份的全部月份的供应总额-->
    <!--LAnnualTotalModelodel> supAnnualTotal(ReceiptSelection selection);-->
    <select id="supAnnualTotal" parameterType="ReceiptSelection" resultType="AnnualTotalModel">
        SELECT date_format(r.rdate, '%m') AS mon, sum(rd.price * rd.num) AS total
        FROM receipt_detail rd, receipt r, supply s
        WHERE s.id = #{sid} AND date_format(r.rdate, '%Y') = #{year} AND rd.rid = r.id AND s.id = r.sid
        GROUP BY date_format(r.rdate, '%m')
        ORDER BY mon
    </select>

    <!--void insert(ReceiptModel receipt) throws Exception;-->
    <insert id="insert" parameterType="ReceiptModel">
        INSERT INTO
        receipt (sid, serial, rdate)
        VALUES (#{sid}, #{serial}, from_unixtime(#{rdate}/1000))
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT last_insert_id();
        </selectKey>
    </insert>

    <!--void delete(ReceiptModel receipt) throws Exception;-->
    <delete id="delete" parameterType="ReceiptModel">
        DELETE FROM receipt
        WHERE id = #{id}
    </delete>

    <!--List<Long> selectYear() throws Exception;-->
    <select id="selectYear" resultType="long">
        SELECT DISTINCT date_format(rdate, '%Y') as year
        FROM receipt
        ORDER BY year
    </select>


    <!--查询指定年份的全部供应商采购总额-->
    <!--LMonStatModelodel> takeStat(Long year);-->
    <select id="takeStat" resultType="MonStatModel">
        SELECT
            s.name sup,
            sum(rd.num*rd.price) AS total,
            sum(CASE WHEN date_format(r.rdate, '%m') = '01'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon1,
            sum(CASE WHEN date_format(r.rdate, '%m') = '02'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon2,
            sum(CASE WHEN date_format(r.rdate, '%m') = '03'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon3,
            sum(CASE WHEN date_format(r.rdate, '%m') = '04'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon4,
            sum(CASE WHEN date_format(r.rdate, '%m') = '05'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon5,
            sum(CASE WHEN date_format(r.rdate, '%m') = '06'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon6,
            sum(CASE WHEN date_format(r.rdate, '%m') = '07'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon7,
            sum(CASE WHEN date_format(r.rdate, '%m') = '08'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon8,
            sum(CASE WHEN date_format(r.rdate, '%m') = '09'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon9,
            sum(CASE WHEN date_format(r.rdate, '%m') = '10'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon10,
            sum(CASE WHEN date_format(r.rdate, '%m') = '11'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon11,
            sum(CASE WHEN date_format(r.rdate, '%m') = '12'
                THEN rd.num*rd.price
                ELSE 0 END) AS mon12
        FROM receipt_detail rd, receipt r, supply s
        WHERE date_format(r.rdate, '%Y') = #{year} AND rd.rid = r.id AND r.sid = s.id
        GROUP BY r.sid;
    </select>
</mapper>