<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.keepfight.qsmanager.Mapper.SupplyMapper">

    <!--List<SupplyModel> selectAll() throws Exception;-->
    <select id="selectAll" resultType="SupplyModel">
        SELECT *
        FROM supply
        ORDER BY serial
    </select>

    <!--根据ID 选择供应商-->
    <!--SupplyModel selectAllByID(Long cid) throws Exception;-->
    <select id="selectByID" parameterType="long" resultType="SupplyModel">
        SELECT *
        FROM supply
        WHERE id = #{id}
    </select>

    <!--void insert(SupplyModel supply) throws Exception;-->
    <insert id="insert" parameterType="SupplyModel">
        INSERT INTO
        supply (
        serial,
        name,
        namefull,
        phone,
        fax,
        accpb,
        accpv,
        bccpb,
        bccpv,
        addr,
        note)
        VALUES (#{item},
        #{name},
        #{namefull},
        #{phone},
        #{fax},
        #{accpb},
        #{accpv},
        #{bccpb},
        #{bccpv},
        #{addr},
        #{note})
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT last_insert_id();
        </selectKey>
    </insert>

    <!--void delete(SupplyModel supply) throws Exception;-->
    <delete id="delete" parameterType="SupplyModel">
        DELETE FROM supply
        WHERE id = #{id}
    </delete>

    <!--void update(SupplyModel supply) throws Exception;-->
    <update id="update" parameterType="SupplyModel">
        UPDATE supply
        SET
            serial   = #{serial},
            name     = #{name},
            namefull = #{namefull},
            phone    = #{phone},
            fax      = #{fax},
            accpb    = #{accpb},
            accpv    = #{accpv},
            bccpb    = #{bccpb},
            bccpv    = #{bccpv},
            addr     = #{addr},
            note     = #{note}
        WHERE id = #{id}
    </update>
</mapper>